.update {
    display: flex;
    flex-direction: row;
    //justify-content: center;

    // border: 2px solid red;
    margin: 5rem 2rem;
}

.update_form {
    width: 30rem;
    background-color: $yellow;
    text-align: center;
    margin: auto;
    padding: 6rem 2rem;
    position: relative;
    left: 30rem;
    text-align: center;

    div {
        display: flex;
        flex-direction: column;
        row-gap: .25rem;
        color: $green;
        font-weight: bold;

        input {
            height: 2rem;
            text-align: center;
            color: $green;
            font-size: 1rem;
            border: none;
        }
    }

    button {
        position: relative;
        bottom: 0;
        background-color: $green;
        padding: 1rem 5rem;
        width: 25rem;
        color: white;
        font-size: medium;
        border: none;
    }
}

.mascot_tennis img {
    min-width: 10%;
    max-width: 45%;
    float: right;
    position: relative;
    right: 5rem;
}