$white: #ffffff;
$light-white: #eeeeee;
$dark-white: #bdbdbd;
$yellow: #FFAB24;
$green: #007F6E;
$pink: #FF695F;
$navy: #002A4C;
$beige: #F6E1CA;
$dark-gray: #4d4d4d;
$gray: #616161;
$light-gray: #7c7979;
$black: #000000;